/dotNet6WebApi/Common/bin
/dotNet6WebApi/Common/obj
/dotNet6WebApi/dotNet6WebApi/obj
/dotNet6WebApi/dotNet6WebApi/bin
/dotNet6WebApi/Model/obj
/dotNet6WebApi/Model/bin
/dotNet6WebApi/Service/bin
/dotNet6WebApi/Service/obj
