/dotNet6WebApi/Common/bin
/dotNet6WebApi/Common/obj
/dotNet6WebApi/dotNet6WebApi/obj
/dotNet6WebApi/dotNet6WebApi/bin
/dotNet6WebApi/Model/obj
/dotNet6WebApi/Model/bin
/dotNet6WebApi/Service/bin
/dotNet6WebApi/Service/obj
/chunk-files/ChunkApi/packages
/chunk-files/ChunkApi/ChunkApi/bin
/chunk-files/ChunkApi/ChunkApi/obj
/word转Pdf/Spire操作Word
/word转Pdf/WordToPdfSln/packages
/word转Pdf/WordToPdfSln/WordToPdfSln/bin
/word转Pdf/WordToPdfSln/WordToPdfSln/obj
/依赖注入/依赖注入/obj
